 @model ShippingDetailsViewModel

 <form asp-controller="Cart" asp-action="Complete" method="post">

     <div class="form-group">
         <label asp-for="ShippingDetail.FirstName">Ad</label>
         <input asp-for="ShippingDetail.FirstName" class="form-control" placeholder="Müşteri Adı"/>
     </div>
     <div class="form-group">
         <label asp-for="ShippingDetail.LastName">Soyadı</label>
         <input asp-for="ShippingDetail.LastName" class="form-control" placeholder="Müşteri Soyadı"/>
     </div>
     <div class="form-group">
         <label asp-for="ShippingDetail.Email">Email</label>
         <input asp-for="ShippingDetail.Email" class="form-control" placeholder="E-Posta"/>
     </div>
     <div class="form-group">
         <label asp-for="ShippingDetail.Age">Yaş</label>
         <input asp-for="ShippingDetail.Age" class="form-control" placeholder="Müşteri Yaşı"/>
     </div>
     <div class="form-group">
         <label asp-for="ShippingDetail.City">Şehir</label>
         <input asp-for="ShippingDetail.City" class="form-control" placeholder="Şehir"/>
     </div>
     <div class="form-group">
         <label asp-for="ShippingDetail.Adress">Adres</label>
         <input asp-for="ShippingDetail.Adress" class="form-control" placeholder="Adres"/>
     </div>

     <input type="submit" value="Kaydet" class="btn btn-success btn-group-sm" />

 </form>